.Dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 1fr ;
    grid-template-rows: 80px 150px 150px;
    gap: 10px;
}


.box {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.sidebar {
    grid-row: 1/4;
}

 .header {
            grid-column: 2 / 4;
 }
